body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  color: white;
  font-family: "proxima-nova";
}

.section {
  width: 100%;
  height: 100vh;
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  position: relative
}

#titleSection {
  background: #4657f2;
  flex-flow: column;
  justify-content: space-between;
}

#logoEtc {
  margin: auto;
}

#icon {
  width: 150px;
  height: auto;
}

#mouseBox {
  display: flex;
  flex-flow: column;
}

#mouse {
  margin: auto;
  padding: 10px
}

#joinUsBar {
  position: relative;
  height: 10%;
  display: flex;
}

#joinUs {
  margin: auto;
  margin-right: 3%;
  text-align: center;
  border: 1px solid white;
  padding: 5px 30px;
  border-radius: 20px;
  font-weight: 700;
}


#tagSection {
  background: #4657f2;
  height: calc(100vh * 1.5);
  flex-flow: column;
  justify-content: space-around;
}

#map {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70%;
  z-index: 0;
}

#tagSection h1 {
  text-align: center;
  font-weight: 900;
  width: 100%;
  font-size: 7vw;
}

#tag {
  position: relative;
  z-index: 1
}

mark {
  background: none;
  color: #ffed1d;
}

.section-placeholder {
  margin: auto;
}
