body {
  margin: 0;
  color: white;
  font-family: "proxima-nova",sans-serif;
  background: #4657f2;
}

.section {
  width: 100%;
}

#titleSection {
  background: #4657f2;
  justify-content: space-between;
  position: relative;
  height: 1600px;
  top: 0;
}

#titleContent {
  display: flex;
  flex-flow: column;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

#logoEtc {
  margin: auto;
  width: 150px;
  max-width: 420px;
  min-width: 150px;
}

#icon {
  width: 100%;
  height: auto;
  z-index: 100;
  position: relative;
}

#mouseBox {
  display: flex;
  flex-flow: column;
  margin-bottom: 20px;
}

#mouse {
  margin: auto;
  padding: 10px
}

#joinUs {
  right: 3%;
  top: calc(100vw * .03);
  border: 1px solid white;
  position: fixed;
  opacity: 0;
  z-index: 2;
  background: #4657f2;;
  transition: all 0.2s ease;
}

.button {
  text-align: center;
  padding: 5px 30px;
  border-radius: 20px;
  font-weight: 700;
  cursor: pointer;
}

#tagSection {
  height: 1600px;
  position: relative;
  z-index: 0;
}

#tagContent {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

#map {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70%;
  z-index: 0;
}

#tagSection h1 {
  text-align: center;
  font-weight: 900;
  width: 100%;
  font-size: 3em;
}

#tag {
  position: relative;
  z-index: 1
}

mark {
  background: none;
  color: #ffed1d;
}


#aboutSection {
  justify-content: space-between;
  background: white;
  height: 700px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.about {
  width: 50%;
  color: black;
  display: flex;
}

#aboutGold {
  background: #ffed1d;
  width: 50%;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100;
  transition: all 0.5s ease;
}

#aboutSection p {
  margin: auto 0;
  width: 40%;
  display: flex;
  justify-content: center;
  z-index: 1;
  transition: all 0.5 ease;
}

#aboutBrief {
  width: 100%;
  color: white;
  font-weight: 900;
  font-size: 3em;
  color: white;
  padding-left: 5%;
  z-index: 1
}

#aboutLong {
  color: #4657f2;
  font-weight: 700;
  font-size: 1.5em;
  padding: 0 5%;
  transition: all 0.5 ease;
}

#phone {
  position: absolute;
  top: 100%;
  transform: translate(-50%, 0);
  z-index: 0;
  transition: all 0.5s ease;
}

#phoneSection {
  height: 40vh;
  background: #4657f2;
  min-height: 200px;
  max-height: 500px;
  display: flex;
}

#phoneSection h1 {
  margin: auto;
  text-align: center;
  font-size: 3em;
}

#geoSection {
  flex-flow: column;
  background: white;
  height: 100vh;
}

#geoContainer {
  display: flex;
  width: 100%;
  height: 90%;
}

.geo {
  height: 100%;
  width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  transition: all 0.5s ease;
  color: #ffed1d;
}

.geo:hover {
  background: #ffed1d;
  color: #4657f2;
}

.geo p, .geo h1 {
  text-align: center;
  font-weight: 900;
  margin: 5px auto;
  padding: 0;
}


.geo p {
  font-size: 1.5em;
}
.geo h1 {
  font-size: 3em;
}

.geoButton {
  color: #4657f2;
  border: 1px solid #4657f2;
  max-width: 50px;
  margin: 10px auto;
  transition: all 0.5s ease;
}

.geoButton:hover {
  background: #4657f2;
  color: white;
}

#footer {
  background: #4657f2;
  height: 10%;
  display: flex;
  flex-flow: row
}

#footer p {
  margin: auto;
  text-align: center
  width: 100%;
  font-weight: 700
}
